@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--dm-sans);
  background:
  linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 500px),
  fixed 0 0 /20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
  fixed 10px 10px /20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background:
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0, black 500px),
    fixed 0 0 /20px 20px radial-gradient(#2f2f2f 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#2f2f2f 1px, transparent 0);
  }
}

:root {
  --primary: #ffffff;
  --secondary: #d1d1d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #000000;
    --secondary: #2f2f2f
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}