@tailwind base;
@tailwind components;
@tailwind utilities;

#signature {
  stroke-dasharray: 2289;
  stroke-dashoffset: 2289;
  animation: sign 2s ease-in;
  animation-fill-mode: forwards;
}

.fade-in {
  animation: fadein 700ms ease-in-out 0s;
}

body {
  background-image: linear-gradient(to top, #3b3b3b, #fff);
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}