@tailwind base;
@tailwind components;
@tailwind utilities;

#signature {
  stroke-dasharray: 1982;
  stroke-dashoffset: 1982;
  animation: sign 4s ease;
  animation-fill-mode: forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}